.images {
  position: relative;
  top: 30px;
  left: 200px;
}

.images img:nth-child(6) {
  position: relative;
  left: 150px;
}

.images img:nth-child(5) {
  position: relative;
  left: 100px;
}

.images img:nth-child(4) {
  position: relative;
  left: 75px;
}

.images img:nth-child(3) {
  position: relative;
  left: 60px;
}

.images img:nth-child(2) {
  position: relative;
  left: 40px;
}
