.sublock1 {
  width: 600px;
  height: 214px;
  border: 4px solid #E5E8ED;
  background-color: #FFFFFF;
  margin-left: 300px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.JeromiBell {
  margin-left: -15px;
  margin-top: -5px;
}

.marketing {
  position: relative;
  top: -60px;
  left: 40px;
  padding-top: -20px;
  background-color: #03CEA4;
  border: 5px solid #03CEA4;
}

.Management {
  margin-top: -100px;
  margin-left: 40px;
  background-color: #5D88F8;
  border: 5px solid #5D88F8;
}

.theultimategoogleads {
  margin-left: 250px;
  margin-top: -130px;
  font-size: 20px;
  font-weight: 700;
}

.onehundred {
  margin-left: 255px;
  color: #FF4242;
  text-decoration: none;
  font-weight: bolder;
}

.sublock2 {
  width: 600px;
  height: 214px;
  border: 4px solid #E5E8ED;
  background-color: #FFFFFF;
  margin-left: 1050px;
  margin-top: -215px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.sublock2 .JeromiBell {
  margin-left: -15px;
  margin-top: -5px;
}

.sublock2 .Management {
  margin-top: -100px;
  margin-left: 40px;
  background-color: #5D88F8;
  border: 5px solid #5D88F8;
}

.sublock2 .theultimategoogleads {
  margin-left: 250px;
  margin-top: -130px;
  font-size: 20px;
  font-weight: 700;
}

.sublock2 .onehundred {
  margin-left: 255px;
  color: #FF4242;
  text-decoration: none;
  font-weight: bolder;
}
